.cbody{
    max-width: 100%;
    position: relative;
}
.r-card{
    width: 100%;  
    max-height: 712px;
}
@media screen and (min-width:500px){
  
    .leader{
        width: 340px;  
        margin: 2rem;     
    }
    .r-card{
        width: 100%;  
        max-height: 712px;
    }
}

@media screen and (min-width:513px){
    .leader{
        width: 80%;  
        margin: 1rem;     
    }
    .r-card{
        width: 80%;  
        max-height: 712px;
    }
  
}
@media screen and (min-width:759px){
    
    .leader{
        width: 340px;  
        margin: 1rem;     
    }
    .r-card{
        width: 340px;  
        max-height: 712px;
    }
    .more{
        width: 100%;
        padding-right: 1rem ;
    }
}
@media screen and (min-width:900px){
       /* start:: nav bar */
    .reveal{
        display: none;
    }
    .nav{
        width: 75%;
    }
    .nav ul{
        display: flex !important;
        flex-direction: row;
        align-items: center;
        top: 0;
        align-items: center;
        height: 100%;
        position: relative;
        justify-content: space-between;
        transform: translateX(0%);
    }
}
@media screen and (min-width:1024px) {    
    .r-card{
        width: 290px;  
        max-height: 712px;
    }
    .content-padding{
        padding-left: 150px;
        padding-right: 150px;
    }
    .more{
        width: 92%;
    }
}

@media screen and (min-width:1150px) {    
    .r-card{
        width: 290px;  
        max-height: 712px;
    }
    
}
@media screen and (min-width:1400px) {
    .leader{
        width: 310px;  
        margin: 1rem;     
    }
    .r-card{
        width: 300px;  
        max-height: 712px;
    }
    .content-padding{
        padding-left: 230px;
        padding-right: 230px;
    }
}