.cbody{
    max-width: 90%;
    position: relative;
}
@media screen and (min-width:500px){
  
    .leader{
        width: 340px;  
        margin: 2rem;     
    }
    .r-card{
        width: 380px;  
        max-height: 712px;
    }
}